{% extends "base.html" %}

{% block content %}
<form action="/profile" method="post">
    <h1>{{ name }}</h1>
    <table cellspacing="0" class="table">

        <tr>
          <td class="head">Nome</td>
          <td class="head">tipo</td>
          <td class="head">tamanho</td>
          <td class="head">Select</td>
        </tr>


  {% for dado in dados %}
          <tr>
              <td> {{ dado.user }}</td>
              <td> {{ dado.name }}</td>
              <td> {{ dado.email }}</td>
              <td> {{ dado.password }}</td>
          </tr>
       {% endfor %}

   </table>
{% endblock %}>