{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">calculador de fluxo</h3>
    <div class="box">
        <form method="POST" action="/doc">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="teste1" placeholder="0" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="teste2" placeholder="0">
                </div>
            </div>
            <div class="field">

            </div>
            <button class="button is-block is-info is-large is-fullwidth">Calcular</button>
        </form>
    </div>
</div>






<form action="/doc" enctype="multipart/form-data" method="post">
<p>
    <input type="file" name="dados" id="dados">
</p>
<p>
    <button type="submit" >Enviar arquivo</button>
</p>
</form>


<h1 class="title">

  {% if x  %}
    {{x      }}
  {%else %}
    {{0 }}
  {% endif %}


  {% if y  %}
    {{ y    }}
 {%else %}
    {{0 }}
  {% endif %}



</h1>
{% endblock %}>