<head>

    <style>
table, th, td {
  border: 1px solid black;

}
table {
  margin-left: auto;
  margin-right: auto;
}
</style>

</head>

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Bem vindo, {{dados[0].nome}}!
</h1>

<form action="/profile" method="post">
    <h1>{{ name }}</h1>
    <table cellspacing="0" class="table">

        <tr>
          <td class="head">Nome</td>
          <td class="head">tipo</td>
          <td class="head">tamanho</td>
          <td class="head">Select</td>
        </tr>


  {% for dado in dados %}
          <tr>
              <td> <input type="text" name="texto1" id="text" value={{dado.name}}></td>
              <td ><input type="text" name="texto2" id="text2" value={{ dado.tipo }}> </td>
              <td> <input type="text" name="texto3" id="text3" value= {{ dado.tamanho }}></td>
              <td> {{dado.user}} <input type="checkbox" name="check" id="inlineCheckbox1" value={{dado.user}}>
              <label class="form-check-label" for="inlineCheckbox1">&nbsp;</label></td>
          </tr>
       {% endfor %}

   </table>





  <!-- added this button -->
  <button type="submit" name="submit-button" value="Submit">submit</button>
 </form>


{% endblock %}